* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body + animation du fond */
body {
  background: linear-gradient(135deg, #3b4cca, #ffcb05, #e3350d);
  background-size: 600% 600%;
  animation: bgAnimation 15s ease infinite;
  font-family: 'Press Start 2P', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;     
  padding: 30px 0;
}

@keyframes bgAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* box pokedex */
.container {
  max-width: 420px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

/* Logo + animation du logo */
.logo-pokemon {
  margin-top: 50px;
  margin-bottom: 70px;
  width: 60%;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

/* Pokedex */
.pokedex-wrapper {
  position: relative;
  aspect-ratio: 1 / 1.25;
  overflow: hidden;
}

.pokedex-img {
  width: 100%;
  position: relative;
  top: -3%;
  z-index: 3;
}

.pokemon-img {
  position: absolute;
  left: 59.5%;
  top: 22%;
  transform: translate(-50%, 0);
  width: 28%;
}

.type-poke {
position: absolute;
  left: 60.88%;
  top: 16%;
  transform: translate(-50%, 0);
  width: 40%;
}

.pokemon-name {
  position: absolute;
  left: 59.5%;
  top: 70%;
  transform: translateX(-50%);
  font-size: 90%;
  font-weight: bold;
    margin-left: 1.5%;
    z-index: 3;
}
/* Bouton du pokedex */
.btn-arrow {
  position: absolute;
  background: none;
  border: none;
  z-index: 3;
}

.btn-arrow img {
  width: 35%;
  height: auto;
  display: block;
}
/* position des boutons du pokedex */
.up {
left: 24.2%;
top: 70.5%;
}

.down {
left: 24.2%;
  top: 79%;
}

/* Bouton premier Pokémon */
.first {
position: absolute;
  left: 82%;
  top: 76%;
}

/* Bouton dernier Pokémon */
.last {
position: absolute;
  left: 82%;
  top: 81.5%;
}


/* section histoire du pokedex */

.pokedex-history {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 30px 30px 20px 30px;
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  z-index: 2;
  overflow: hidden;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.pika-surf {
  position: relative;
  top: 61px;
  left: 50px;
  width: 90px;
  z-index: 2;
  transition: transform 0.1s linear;
  pointer-events: none;
}

.raichu-surf {
  position: relative;
  top: 55px;
  left: 600px;
  width: 90px;
  z-index: 2;
  transition: transform 0.1s linear;
  pointer-events: none;
}


.pokedex-history p {
  font-size: 0.75rem;
  line-height: 1.6;
  color: #000;
}

.container-section{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* responsive */
@media screen and (max-width: 400px) {
  .pokemon-name{
    font-size: 50%;
  }
}

@media screen and (max-width: 600px) {
    .pokedex-history p{
        font-size: 10px;
    }
    .pokedex-history h1,h2{
        font-size: 15px;
    }

}